body {
  padding-top: 5rem;
  margin: 5em;

  
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: left;
  
}
.nav-p{
  display:inline-block;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem;
 
  line-height:inherit;
  white-space:nowrap;
  color: white;
  
}

